RewriteEngine On

Header add Access-Control-Allow-Origin: "*"
Header add Access-Control-Allow-Headers: "*"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
php_flag display_startup_errors off
